html,body{
    overflow-x: hidden;
}
@media (max-width: 575px) {
    body{font-size: 13px;}
}

@media (min-width: 768px) {
    body{font-size: 18px;}
}


h3{
    font-size: 1.4em;
}

.container-fluid {
    padding:0;
    width: 100%;
}

.navigation{
    margin-top: 65px;
}


